.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 9vh;
  min-height: 91vh;
}

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  .banner {
    align-items: center;
    background-color: #99DADD;
    display: flex;
    justify-content: center;
    padding: 0.5rem 0 0.5rem 6rem;
    text-align: center;
    width: 100%;

    @media screen and (max-width: 1200px){
      padding-left: 2rem;  
    }

    .info {
      align-items: center;
      display: flex;
      flex-direction: column;
      margin-right: 3rem;
      padding: 1.5rem;

      @media screen and (max-width: 1200px){
        margin-right: 0;  
      }

      @media screen and (max-width: 900px){
        padding: 1rem;
      }

      h2 {
        font-size: 1.6rem;

        @media screen and (max-width: 1200px){
          font-size: 1.2rem;  
        }
      }
  
      h1 {
        font-size: 3rem;
        margin-top: 1.5rem;

        @media screen and (max-width: 1200px){
          font-size: 2.5rem;  
          margin-top: 1.2rem;
        }
      }

      p {
        font-size: 1.5rem;
        margin-top: 1.6rem;

        @media screen and (max-width: 1200px){
          font-size: 1.2rem;  
          margin-top: 1.2rem;
        }
      }

      button {
        background-color: black;
        border-style: none;
        color: white;
        border-radius: 10px;
        border-width: 2px;
        font-size: 1.5rem;
        margin-top: 1.6rem;
        padding: 0.5rem 1.5rem;

        @media screen and (max-width: 1200px){
          font-size: 1.2rem;  
          margin-top: 1.2rem;
        }
         
        a {
          color: white;
          text-decoration: none;
        }
      }
  
      button:hover {
        cursor: pointer;
      }
    }

    @media screen and (max-width: 1200px){
      .logo {
        width: 300px;
      }
    }

    @media screen and (max-width: 900px){
      .logo {
        display: none;
      }
    }
  }
  
  .schedule {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;

    h2 {
      font-size: 2rem;
      margin-top: 3rem;
    }

    p {
      font-size: 1.2rem;
    }

    .speaker {
      align-items: center;
      display: flex;
      justify-content: center;
      margin-top: 1rem;
      width: 95vw;

      img {
        width: 5rem;
      }

      .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 1.5rem;
        margin-right: 2rem;
        width: 16rem;

        h3 {
          font-size: 1.5rem;
        }

        p {
          font-size: 1.2rem;
        }

        .monde {
          font-size: 1rem;
        }
      }

      .times {
        font-size: 1.2rem;
        width: 12rem;

        @media screen and (max-width: 600px){
          width: 6rem;
        }
      }
    }
  }

  .projectInfo {
    align-items: center;
    background-color: #99DADD;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding: 2rem;
    width: 100%;

    h2 {
      font-size: 3rem;
    }

    a {
      color: black;
      text-decoration: none;
    }

    .projects {
      display: flex;
      margin-top: 1rem;
    }

    .project {
      align-items: center;
      background-color: white;
      border-color: #99DADD;
      border-radius: 10px;
      border-style: solid;
      border-width: 2px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: 1rem;
      margin-top: 1rem;
      padding: 1rem;
      width: 11rem;
  
      img {
        height: 8rem;
      }

      .template {
        align-items: center;
        border-style: dashed;
        border-width: 2px;
        display: flex;
        height: 100%;
        justify-content: center;
        text-align: center;
        width: 100%;
      }
    }

    .project:hover {
      border-color: black;
      cursor: pointer;
    }
  }

  .speakerInfo {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 100vw;

    h2 {
      font-size: 2.5rem;
    }

    .speakerScroll {
      display: flex;
      overflow-x: scroll;
      width: 100vw;

      .speakers {
        display: flex;
  
        .speaker {
          align-items: center;
          border-style: solid;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin-top: 1.5rem;
          width: 60vw;
  
          .text {
            padding: 0 1rem;
            width: 44vw;
  
            h3 {
              font-size: 1.5rem;
              margin-bottom: 0.5rem;
            }
  
            p {
              font-size: 1rem;
            }
          }
  
          img {
            width: 15vw;
          }
        }
      }
    }
  }
}